﻿@model DDS.WebApp.PSQuoteGenerator.Models.TechnologyModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Technology</h2>

<h3>Are you sure you want to delete this technology along with the steps related to it?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TechnologyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnologyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TechnologyCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
