﻿@{
    ViewBag.Title = "Index";
}

<h2>Technology Configuration</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p>Choose an option below:</p>
        <hr>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="radio">
            <label><input type="radio" name="optradio" value="Create">Create New</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio" value="ListTechnologies">Edit Existing</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio" value="ListTechnologies">Remove Existing</label>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}