﻿@model DDS.WebApp.PSQuoteGenerator.Models.ComplexStepModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Complex Step</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.StepDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StepDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineeringLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engineer.EngineeringLevel)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.HourType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourType1.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Technology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Technology1.TechnologyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectType1.ProjectType1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StepType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplexStepType.ComplexStepType1)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
