﻿@model DDS.Core.DataLayer.Quote

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>QuoteModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuoteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuoteDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteDesc)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ProposalPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposalPath)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkedClient.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuoteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuoteRefNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteRefNumber)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
