﻿@model DDS.WebApp.PSQuoteGenerator.Models.QuoteModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuoteModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuoteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuoteDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposalPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposalPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuoteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuoteRefNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteRefNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
