﻿@model IEnumerable<DDS.WebApp.PSQuoteGenerator.Models.QuoteModel>

@{
    ViewBag.Title = "Index";
}

<h2>Quotes</h2>
<script src="~/Scripts/jquery-ui.js"></script>

<script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="myDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuoteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteRefNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProposalPath)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Status)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteDate)
            </th>

            @*<th>
                @Html.DisplayNameFor(model => model.ProjectType)
            </th>*@
            <th class="nosort"></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteRefNumber)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ProposalPath))
                {
                    <a href="Quote/Download?file=@item.ProposalPath" target="_blank">Download</a>
                }
                else
                {
                    <text> - </text>
                }
                  
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.LinkedClient.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.ProjectType)
                </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @if (item.Status == "Completed")
                {
                    @Html.ActionLink("View", "GenerateQuote", new { id = item.Id }) <text>|</text>
                }
                @if (item.Status == "Completed")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <text>|</text>
                }
                @if (item.Status == "RFQ")
                {
                    @Html.ActionLink("Continue", "ContinueQuote", new { id = item.Id }) <text>|</text>
                }
                @if (item.Status == "STEPS SELECTED")
                {
                    @Html.ActionLink("Continue", "ProcessAdditional", new { id = item.Id }) <text>|</text>
                }
                @if (item.Status == "PM DELIVERABLES SELECTED")
                {
                    @Html.ActionLink("Continue", "ProcessSundry", new { id = item.Id }) <text>|</text>
                }
                @if (item.Status == "SUNDRY ITEMS SELECTED")
                {
                    @Html.ActionLink("Continue", "GenerateQuote", new { id = item.Id }) <text>|</text>
                }
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myDataTable').dataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }],
            "order": [[5, "asc"]]
        });

    });
</script>