﻿@model List<DDS.WebApp.PSQuoteGenerator.Models.AdditionalDataModel>

@{
    ViewBag.Title = "ProcessNacVariables";
}

<h2>ProcessNacVariables</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @for (var i = 0; i < Model.Count; i++)
        {
            <h4>@Model[i].Technology.TechnologyName</h4>
            <div class="form-group">
                @Html.Label("Nodes", htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-10">
                    @Html.Hidden("nacTechnologiesModel[" + @i + "].QuoteId", Model[i].QuoteId) 
                    @Html.Hidden("nacTechnologiesModel[" + @i + "].TechnologyId", Model[i].TechnologyId)
                    @Html.TextBox("nacTechnologiesModel[" + @i + "].Nodes", "", new { id = "Nodes-" + @i, @class = "form-control Nodes", type = "number", size = "6", min = "0", max = "100", pattern = "\\d*" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("VLANs", htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-10">
                    @Html.TextBox("nacTechnologiesModel[" + @i + "].VLANs", "", new { id = "VLANs-" + @i, @class = "form-control VLANs", type = "number", size = "6", min = "0", max = "100", pattern = "\\d*" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("SSIDs", htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-10">
                    @Html.TextBox("nacTechnologiesModel[" + @i + "].SSIDs", "", new { id = "SSIDs-" + @i, @class = "form-control SSIDs", type = "number", size = "6", min = "0", max = "100", pattern = "\\d*" })
                </div>
            </div>
        }
        

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
