﻿@using DDS.Core.DataLayer
@model List<PMDeliverable>

@{
    ViewBag.Title = "ProcessManualSteps";
    var index = 0;
}

<h2>PM Deliverables</h2>
<script src="~/Scripts/jquery-ui.js"></script>

<script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table id="myDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td>
                        PM Deliverable
                    </td>
                    <td>
                        Manager Level
                    </td>
                    <td>
                        Hours
                    </td>
                    <td>
                        Include
                    </td>
                </tr>
            </thead>

            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Html.Hidden("additionalLineItems[" + @i + "].QuoteId", ViewData["QuoteId"])@Html.Hidden("additionalLineItems[" + @i + "].PMDeliverableId", Model[i].Id) @Model[i].Description</td>
                    <td>
                        <select name="additionalLineItems[@i].ManagerLevel">
                            @foreach (var item in (List<Manager>)ViewData["ManagerLevel"])
                            {
                                <option value="@item.Id">@item.ManagerLevel</option>
                            }

                        </select>
                    </td>
                    <td>@Html.TextBox("additionalLineItems[" + @i + "].Hours", "", new { type = "number", size = "6", min = "1", max = "100", pattern="\\d*" })</td>
                    <td>@Html.CheckBox("additionalLineItems[" + @i + "].Include")</td>
                </tr>
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myDataTable').dataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }],
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false
        });

    });
</script>


@*<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>*@