﻿
@using DDS.Core.DataLayer
@model List<DDS.WebApp.PSQuoteGenerator.Models.ComplexStepContinued>

@{
    ViewBag.Title = "Process Complex Steps";
    var index = 0;
}

<h2>Formula Related / Optional Steps</h2>
<script src="~/Scripts/jquery-ui.js"></script>

<script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
@using (Html.BeginForm("ProcessComplexSteps", "Quote", FormMethod.Post, new { id = "ComplexStepForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table id="myDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td>
                        Technology
                    </td>
                    <td>
                        Project Type
                    </td>
                    <td>
                        Step Description
                    </td>
                    <td>
                        Engineer Level
                    </td>
                    <td>
                        Formula Variable 
                    </td>
                    @*<td>
                        Formula Variable 2
                    </td>*@
                    <td>
                        Include
                    </td>
                </tr>
            </thead>
            
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    @*<td>@item.TechName</td>
                    <td><input type="hidden" name="[index].ComplexStepId" value="@item.ComplexStepId" />@item.StepDescription</td>
                    <td>
                        @Html.DropDownList("EngineeringLevel", null, htmlAttributes: new { @class = "form-control" })
                    </td>
                    <td><input type="text" name="[index].Hours"></td>
                    <td><input type="checkbox" name="[index].Include"></td>*@
                    <td>@Html.Hidden("complexSteps[" + @i + "].QuoteId", Model[i].QuoteId) @Model[i].TechName</td>
                    <td>@Model[i].ProjectType</td>
                    <td>@Html.Hidden("complexSteps[" + @i + "].ComplexStepId", Model[i].ComplexStepId) @Html.Label("complexSteps[" + @i + "].StepDescription", Model[i].StepDescription)</td>
                    @*<td>@Html.DropDownList("EngineerLevel", null, htmlAttributes: new { @class = "form-control", name = "complexSteps[" + @i + "].EngineerLevel" })</td>*@
                    <td>
                        @Model[i].EngineerLevel
                    </td>
                    <td>
                        @*@if (Model[i].StepCategory == 2 || Model[i].StepCategory == 3)*@
                        @if (Model[i].StepCategory == 2)
                        {
                            @Html.TextBox("complexSteps[" + @i + "].Value1", "", new { id = "Value1-" + @i, @class = "Value1", type = "number", size = "6", min = "1", max = "100", pattern = "\\d*" })
                        }
                    </td>
                    @*<td>
                        @if (Model[i].StepCategory == 3)
                        {
                            @Html.TextBox("complexSteps[" + @i + "].Value2", "", new { id = "Value2-" + @i, @class = "Value2", type = "number", size = "6", min = "1", max = "100", pattern="\\d*" })
                        }
                    </td>*@
                    <td>
                        @Html.CheckBox("complexSteps[" + @i + "].Include", false, new {id = "checkbox-"+@i, @class = "includes" })
                    </td>
                </tr>
                index++;
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myDataTable').dataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }],
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false
        });

        $("#ComplexStepForm").on("submit", function () {

            if (!jQuery('#ComplexStepForm input[type=checkbox]:checked').length) {
                alert("Please ensure that atleast one step is included.");
                return false;
            }

            var error = 0;
            $(".includes:checked").each(function () {
                var currentInclude = $(this).prop("id");
                var currentNumber = currentInclude.split("-").pop();

                if ($("#Value1-" + currentNumber).length) {
                    
                    if ($("#Value1-" + currentNumber).val() == null || $("#Value1-" + currentNumber).val() == "") {
                        //alert("Please ensure that all included steps contain values where possible.");
                        console.log($("#Value1-" + currentNumber).length);
                        error = 1;
                    }
                }
                
                if ($("#Value2-" + currentNumber).length) {
                    
                    if ($("#Value2-" + currentNumber).val() == null || $("#Value2-" + currentNumber).val() == "") {
                        //alert("Please ensure that all included steps contain values where possible.");
                        console.log($("#Value2-" + currentNumber).length);
                        error = 1;
                    }
                }
            });

            if (error == 1) {
                alert("Please ensure that all included steps contain values where possible.");
                return false;
            }
        });

    });
</script>
