﻿
@using DDS.Core.DataLayer
@model List<DDS.WebApp.PSQuoteGenerator.Models.ManualStepContinuedModel>

@{
    ViewBag.Title = "ProcessManualSteps";
    var index = 0;
}

<h2>Manual Steps</h2>
<script src="~/Scripts/jquery-ui.js"></script>

<script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
@using (Html.BeginForm("ProcessManualSteps", "Quote", FormMethod.Post, new { id = "ManualStepForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table id="myDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td>
                        Technology
                    </td>
                    <td>
                        Step Description
                    </td>
                    <td>
                        Engineer Level
                    </td>
                    <td>
                        Hours
                    </td>
                    <td>
                        Include
                    </td>
                </tr>
            </thead>
            
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    @*<td>@item.TechName</td>
                    <td><input type="hidden" name="[index].ManualStepId" value="@item.ManualStepId" />@item.StepDescription</td>
                    <td>
                        @Html.DropDownList("EngineeringLevel", null, htmlAttributes: new { @class = "form-control" })
                    </td>
                    <td><input type="text" name="[index].Hours"></td>
                    <td><input type="checkbox" name="[index].Include"></td>*@
                    <td>@Html.Hidden("manualSteps[" + @i + "].QuoteId", Model[i].QuoteId) @Model[i].TechName</td>
                    <td>@Html.Hidden("manualSteps[" + @i + "].ManualStepId", Model[i].ManualStepId) @Html.Label("manualSteps[" + @i + "].StepDescription", Model[i].StepDescription)</td>
                    @*<td>@Html.DropDownList("EngineerLevel", null, htmlAttributes: new { @class = "form-control", name = "manualSteps[" + @i + "].EngineerLevel" })</td>*@
                    <td>
                        <select name="manualSteps[@i].EngineerLevel">
                            @foreach (var item in (List<Engineer>)ViewData["EngineerLevel"])
                            {
                                <option value="@item.Id">@item.EngineeringLevel</option>
                            }

                        </select>
                    </td>
                    <td>@Html.TextBox("manualSteps[" + @i + "].Hours", Model[i].Hours, new { id = "hours-" + @i, @class = "hours", type = "number", size = "6", min = "1", max = "100", pattern = "\\d*" })</td>
                    <td>@Html.CheckBox("manualSteps[" + @i + "].Include", Model[i].Include, new {id = "checkbox-"+@i, @class = "includes"})</td>
                </tr>
                index++;
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myDataTable').dataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }],
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false
        });

        $("#ManualStepForm").on("submit", function () {

            if (!jQuery('#ManualStepForm input[type=checkbox]:checked').length) {
                alert("Please ensure that atleast one step is included.");
                return false;
            }

            var error = 0;
            $(".includes:checked").each(function () {
                var currentInclude = $(this).prop("id");
                var currentNumber = currentInclude.split("-").pop();

                if ($("#hours-" + currentNumber).val() == null || $("#hours-" + currentNumber).val() == "") {
                    //alert("Please ensure that all included steps contain hour values.");
                    error = 1;
                }
            });

            if (error == 1) {
                alert("Please ensure that all included steps contain hour values.");
                return false;
            }
        });

    });
</script>


@*<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>*@