﻿@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using DDS.Core.DataLayer
@model DDS.Core.BusinessObjects.Quote.QuoteItem

@{
    ViewBag.Title = "Summary Quote";
    decimal excludingVat = 0;
    decimal vat = 0;
    decimal includeingVat = 0;
}
<html>
<head>
    <meta charset="UTF-8">
    <title>Quote - Dimension Data PS Quote Generator</title>
</head>

<body id="quoteBody">
    <div class="container" style="padding-left: 0px;padding-right: 30px;">
        <div class="row">
            <div class="col-xs-6">
                <h1>

                    <img src="~/Content/images/logo.png" alt="Dimension Data" />
                </h1>
            </div>
            <div class="col-xs-6 text-right">
                <h1><strong>Quotation</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #92D050;">
                        <h4 style="color: #000000;"><strong>From: Dimension Data (Pty) Ltd</strong></h4>
                    </div>
                    <div class="panel-body">

                        <table>

                            <tr>
                                <td width="50%">The Campus</td>
                                <td width="50%">Private Bag x127</td>
                            </tr>
                            <tr>
                                <td width="50%">57 sloane street</td>
                                <td width="50%">Bryanston</td>
                            </tr>
                            <tr>
                                <td width="50%">Bryanston</td>
                                <td width="50%">2021</td>
                            </tr>
                            <tr>
                                <td width="50%">South Africa</td>
                                <td width="50%">Tel Number   +27 (0)11-575-0000</td>
                            </tr>
                            <tr>
                                <td width="50%">2021</td>
                                <td width="50%">Fax Number  +27 (0)11-576-0000</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #92D050;">
                        <h4 style="color: #000000;"><strong>To : @Model.Quote.LinkedClient.Name</strong></h4>
                    </div>
                    <div class="panel-body">
                        <table width="100%">
                            <tr>
                                <td width="50%">Company:</td>
                                <td width="50%">@Model.Quote.LinkedClient.Company</td>
                            </tr>
                            <tr>
                                <td width="50%">Number of Physical Device:</td>
                                <td width="50%">@Model.Quote.PhysicalDevices</td>
                            </tr>
                            <tr>
                                <td width="50%">Date:</td>
                                <td width="50%">@Model.Quote.QuoteDate</td>
                            </tr>
                            <tr>
                                <td width="50%">Our Reference:</td>
                                <td width="50%">@Model.Quote.QuoteRefNumber</td>
                            </tr>
                            <tr>
                                <td width="50%">&nbsp;</td>
                                <td width="50%">&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- / end client details section -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="58%">
                        <h4><strong>Description</strong></h4>
                    </th>
                    <th width="12%">
                        <h4><strong>Hrs/Qty</strong></h4>
                    </th>
                    <th width="30%">
                        <h4><strong>Total Price</strong></h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                @*steps*@
                @foreach (var category in Model.Categories)
                {

                    var currentCategotyId = category.Id;
                    var currentCategotyName = category.CategoryName;
                    //Total Maunal Hours and price
                    var currentTotalManualHours = Model.Quote.ManualLineItems.Where(q => q.ManualStep.StepCategory == currentCategotyId).Sum(m => m.Hours);
                    decimal currentTotalManualPrice = 0;
                    foreach (var manualStep in Model.Quote.ManualLineItems.Where(m => m.ManualStep.StepCategory == currentCategotyId))
                    {
                        var currentotal = manualStep.Engineer.HourlyRate * manualStep.Hours;
                        currentTotalManualPrice += currentotal;
                    }
                    //Total Preconfigured Hours and price
                    var currentTotalPreHours = Model.Quote.LineItems.Where(q => q.Step.Tech.TechnologyCategory == currentCategotyId).Sum(s => s.Step.Hours);
                    decimal currentTotalPrePrice = 0;
                    foreach (var step in Model.Quote.LineItems.Where(q => q.Step.Tech.TechnologyCategory == currentCategotyId))
                    {
                        var currentotal = step.Step.Hours * step.Step.Eng.HourlyRate;
                        currentTotalPrePrice += currentotal;
                    }

                    //Total Complex Hours and price
                    var complexLineItems = Model.Quote.ComplexLineItems.Where(q => q.ComplexStep.Technology1.TechnologyCategory == currentCategotyId).ToList();
                    var currentTotalComHours = 0;
                    decimal currentTotalComPrice = 0;
                    foreach (var complexLineItem in complexLineItems)
                    {
                        var currentHours = 0;
                        decimal currentPrice = 0;

                        var currentTechnology = complexLineItem.ComplexStep.Technology;
                        var currentAdditionalDatas = complexLineItem.Quote.AdditionalDatas.FirstOrDefault(q => q.TechnologyId == currentTechnology);

                        currentAdditionalDatas = currentAdditionalDatas ?? new AdditionalData();

                        var currentVlan = currentAdditionalDatas.VLANs;
                        var currentSsid = currentAdditionalDatas.SSIDs;
                        var currentNode = currentAdditionalDatas.Nodes;

                        switch (complexLineItem.ComplexStep.StepType)
                        {
                            case 1:
                                currentHours = complexLineItem.ComplexStep.Hours;
                                break;
                            case 2:
                                if (complexLineItem.ComplexStep.StepDescription.Contains("NDG’s") && complexLineItem.ComplexStep.StepDescription.Contains("NAD’s"))
                                {
                                    //currentHours= (complexLineItem.Value1/5)*complexLineItem.ComplexStep.Hours;
                                    currentHours = complexLineItem.Value1 * complexLineItem.ComplexStep.Hours; //fix this
                                }
                                else
                                {
                                    currentHours = complexLineItem.Value1 * complexLineItem.ComplexStep.Hours;
                                }
                                break;
                            case 3:
                                //currentHours = (complexLineItem.ComplexStep.Hours * complexLineItem.Value1) + (complexLineItem.ComplexStep.Hours * complexLineItem.Value2);
                                // check for VLANs and SSIDs

                                if (currentVlan != 0 && currentSsid != 0)
                                {
                                    currentHours = (complexLineItem.ComplexStep.Hours * currentVlan) + (complexLineItem.ComplexStep.Hours * currentSsid);
                                }
                                else
                                {
                                    continue;
                                }
                                break;
                            case 5:
                                // check for Nodes
                                if (currentNode != 0)
                                {
                                    currentHours = complexLineItem.ComplexStep.Hours * currentNode;
                                }
                                else
                                {
                                    continue;
                                }
                                break;
                            case 6:
                                // check for Vlans
                                if (currentVlan != 0)
                                {
                                    currentHours = complexLineItem.ComplexStep.Hours * currentVlan;
                                }
                                else
                                {
                                    continue;
                                }
                                break;
                            case 7:
                                // check for SSids
                                if (currentSsid != 0)
                                {
                                    currentHours = complexLineItem.ComplexStep.Hours * currentSsid;
                                }
                                else
                                {
                                    continue;
                                }
                                break;
                        }

                        currentTotalComHours += currentHours;

                        switch (complexLineItem.ComplexStep.HourType)
                        {
                            case 1:
                                currentPrice = complexLineItem.ComplexStep.Engineer.HourlyRate * currentHours;
                                break;
                            case 2:
                                currentPrice = ((complexLineItem.ComplexStep.Engineer.HourlyRate / 2) + complexLineItem.ComplexStep.Engineer.HourlyRate) * currentHours;
                                break;
                            case 3:
                                currentPrice = ((complexLineItem.ComplexStep.Engineer.HourlyRate / 2) * 2 + complexLineItem.ComplexStep.Engineer.HourlyRate) * currentHours;
                                break;
                        }

                        currentTotalComPrice += currentPrice;
                    }

                    //Total Hours and price
                    var totalCategoryHours = currentTotalManualHours + currentTotalPreHours + currentTotalComHours;
                    var totalCategoryPrice = currentTotalManualPrice + currentTotalPrePrice + currentTotalComPrice;

                    excludingVat += totalCategoryPrice;
                    if (totalCategoryHours == 0)
                    {
                        continue;
                    }
                    <tr>
                        <td>@currentCategotyName</td>
                        <td class="text-right">@totalCategoryHours</td>
                        <td class="text-right">@string.Format("{0:C}", totalCategoryPrice) </td>
                    </tr>
                }

                @*sundry*@

                @foreach (var type in Model.SundryTypes)
                {
                    var currentCategotyName = type;
                    var currentTotalQty = Model.Quote.SundryLineItems.Where(s => s.SundryCost.Type == currentCategotyName).Sum(s => s.Quantity);
                    decimal currentTotalPrice = 0;
                    foreach (var sundry in Model.Quote.SundryLineItems.Where(s => s.SundryCost.Type == currentCategotyName))
                    {
                        var currentotal = sundry.Quantity * sundry.SundryCost.Rate;
                        currentTotalPrice += currentotal;
                    }

                    excludingVat += currentTotalPrice;
                    if (currentTotalQty == 0)
                    {
                        continue;
                    }
                    <tr>
                        <td>@currentCategotyName</td>
                        <td class="text-right">@currentTotalQty</td>
                        <td class="text-right">@string.Format("{0:C}", currentTotalPrice) </td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="58%">
                        <h4></h4>
                    </th>
                    <th width="12%">
                        <h4><strong>Hrs</strong></h4>
                    </th>
                    <th width="15%">
                        <h4><strong>Price</strong></h4>
                    </th>
                    <th width="15%">
                        <h4></h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <strong>PM total</strong>
                    </td>
                    <td></td>
                    <td class="text-right"></td>
                    @{
                        decimal totalPM = 0;
                        //var totalPmHours = Model.Quote.AdditionalLineItems.Sum(pm => pm.Hours);
                        foreach (var pmdeliverable in Model.Quote.AdditionalLineItems)
                        {
                            var currentotal = pmdeliverable.Hours * pmdeliverable.Manager.HourlyRate;
                            totalPM += currentotal;
                        }

                        excludingVat += totalPM;
                    }
                    <td class="text-right"><strong>@string.Format("{0:C}", totalPM)</strong></td>
                </tr>
                @foreach (var manager in Model.Managers)
                {
                    var currentManager = manager;
                    var currentTotalhours = Model.Quote.AdditionalLineItems.Where(pm => pm.Manager.ManagerLevel == currentManager).Sum(pm => pm.Hours);
                    decimal currentTotalPrice = 0;

                    foreach (var pmDeliverable in Model.Quote.AdditionalLineItems.Where(pm => pm.Manager.ManagerLevel == currentManager))
                    {
                        var currentTotal = pmDeliverable.Hours * pmDeliverable.Manager.HourlyRate;
                        currentTotalPrice += currentTotal;
                    }
                    if (currentTotalhours == 0)
                    {
                        continue;
                    }
                    <tr>
                        <td>@currentManager</td>
                        <td class="text-right">@currentTotalhours</td>

                        <td class="text-right">@string.Format("{0:C}", currentTotalPrice)</td>
                        <td></td>
                    </tr>
                }

            </tbody>
        </table>

        <div class="row text-right">
            <div class="col-xs-2 col-xs-offset-8">
                @{
                    vat = excludingVat * (decimal).14;
                    includeingVat = excludingVat + vat;
                }
                <p>
                    <strong>
                        Total Ex VAT : <br>
                        VAT 14% : <br>
                        Total Inc VAT : <br>
                    </strong>
                </p>
            </div>
            <div class="col-xs-2">
                <strong>
                    @string.Format("{0:C}", excludingVat)<br>
                    @string.Format("{0:C}", vat)<br>
                    @string.Format("{0:C}", includeingVat)<br>
                </strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="span12">
                    <div class="panel panel-info">
                        <div class="panel-heading" style="background-color: #92D050;">
                            <h4 style="color: #000000;">THIS QUOTATION IS SUBJECT TO THE FOLLOWING:</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                This quote is valid for 14 (fourteen) days subject to rate of exchange fluctuations and Dimension Data's Standard Terms and Conditions which are available upon request. By accepting this quotation, you agree to be bound by the aforementioned Standard Terms and Conditions. No additional terms and conditions contained in your acceptance or other documentation issued by you shall be valid or binding on Dimension Data, unless expressly accepted in writing by an authorised representative of Dimension Data. Any additional products and/or services required outside the original scope of work will be billed accordingly. Unless specified as After Hours, all work quoted is based on business hours - 08h00 to 17h00 Mon to Fri. Installation, Uptime maintenance and warranty upgrades are excluded from this quote unless otherwise stated.
                            </p>
                        </div>
                    </div>
                    <div class="text-right">© Dimension Data 2014</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>






