﻿@model IEnumerable<DDS.WebApp.PSQuoteGenerator.Models.QuoteTechnologyComplexity>

@{
    ViewBag.Title = "TechnologyComplexity";
}

<h2>Type Selection</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
            @foreach (var item in Model)
            {
                <div class="form-group">
                    
                    <label class="control-label col-md-1">@item.TechName</label>
                    <div class="col-md-10">
                        <select name="Options" class="form-control">
                            @foreach (var option in item.ProjectTypes)
                            {
                                <option value="@item.TechId-@option.Id">@option.ProjectType1</option>
                            }
                        </select>
                    </div>
                </div>
            }
        
        

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>