﻿@model DDS.WebApp.PSQuoteGenerator.Models.QuoteTechnologyModel

@{
    ViewBag.Title = "TechnologySelection";
    var currentId = Url.RequestContext.RouteData.Values["id"];
}

<h2>Technology Selection</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedTechnologies, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.ListBox("SelectedTechnologies", null, htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.SelectedTechnologies, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Quote", "ContinueQuote", new { id = currentId })
</div>
