﻿@using DDS.WebApp.PSQuoteGenerator.Models
@model IEnumerable<DDS.WebApp.PSQuoteGenerator.Models.EditUserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Register")
</p>
<div class="row">
    <div class="col-md-10">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserName }) |
                        @Html.ActionLink("Roles", "UserRoles", new { id = item.UserName }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserName })
                        <a tabindex="-1" href="#" onclick="showPasswordModal('@item.UserName','@IdentityManager.GetUser(item.UserName).FirstName')">Change Password</a>
                    </td>*@
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="user_actions_dropdown" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="user_actions_dropdown">
                                <li role="presentation">@Html.ActionLink("Edit", "Edit", new { id = item.UserName })</li>
                                <li role="presentation">@Html.ActionLink("Roles", "UserRoles", new { id = item.UserName })</li>
                                @*<li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="showPasswordModal('@item.UserName','@IdentityManager.GetUser(item.UserName).FirstName')">Change Password</a></li>*@
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </table>
        <div id="modal_password_change" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Change <span id="password_user"></span>'s password</h4>
                    </div>
                    <div class="modal-body">
                        <form id="changePasswordForm" class="form-horizontal">
                            <input type="hidden" id="input_username" />
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Password</label>
                                <div class="col-lg-7">
                                    <input type="password" class="form-control" name="newPassword" id="newPassword" required data-bv-notempty-message="Password field is required" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-4 control-label">Confirm password</label>
                                <div class="col-lg-7">
                                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required data-bv-notempty-message="Password confirmation is required" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#modal_password_change').modal('hide');">
                            Cancel
                        </button>
                        <button id="btn_save_password" type="button" class="btn btn-primary" onclick="saveNewPassword();">Save</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>