body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}
*/
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.logo {
    width: 181px;
    height: 50px;
    background-image: url(../Images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
}

.main-menu {
    top: 13px;
    height: 100%;
    bottom: 2px;
    float: right;
    position: relative;
    vertical-align: middle;
    text-align: right;
}

.main-menu-item {
    font-size: 18px;
    font-weight: bold;
    color: #808183;
    cursor: pointer;
    margin-left: 7px;
    margin-right: 7px;
}

    .main-menu-item:hover {
        color: #69BE28;
        text-decoration: none;
    }

.form-control-non-editable {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}






.loading_div {
    width: 100%;
    height: 50px;
    background-image: url(../Images/ajax-loader.gif);
    background-position: center;
    background-repeat: no-repeat;
}

/* Dashboard Styles */

.column {
    width: 50%;
    float: left;
    border: 1px dotted #E7E7E8;
}

.column-left {
    padding-right: 5px;
}

.column-right {
    padding-left: 5px;
}

.column-wide {
    width: 100%;
    float: left;
}

.column-narrow {
    width: 30%;
}

.column-hidden {
    display: none;
}

.column-threequarter {
    width: 70%;
}

.portlet-toggle {
    float: right;
}

.portlet-placeholder {
    border: 1px solid #fbeed5;
    background-color: #fcf8e3;
    margin: 0 1em 1em 0;
    height: 150px;
}

/* DD Specific Styles */
.btn-dd {
    color: #fff;
    background-color: #6ABE28;
    border-color: #67CB33;
    font-weight: bold;
}

    .btn-dd:hover,
    .btn-dd:focus,
    .btn-dd:active,
    .btn-dd.active,
    .open .dropdown-toggle.btn-dd {
        color: #ffffff;
        background-color: #67CB33;
        border-color: #67CB33;
    }

    .btn-dd:active,
    .btn-dd.active,
    .open .dropdown-toggle.btn-dd {
        background-image: none;
    }

    .btn-dd.disabled,
    .btn-dd[disabled],
    fieldset[disabled] .btn-dd,
    .btn-dd.disabled:hover,
    .btn-dd[disabled]:hover,
    fieldset[disabled] .btn-dd:hover,
    .btn-dd.disabled:focus,
    .btn-dd[disabled]:focus,
    fieldset[disabled] .btn-dd:focus,
    .btn-dd.disabled:active,
    .btn-dd[disabled]:active,
    fieldset[disabled] .btn-dd:active,
    .btn-dd.disabled.active,
    .btn-dd[disabled].active,
    fieldset[disabled] .btn-dd.active {
        color: #333;
        background-color: #E7E7E8;
        border-color: #357ebd;
    }

h2.dd_heading, h3.dd_heading {
    color: #6ABE28;
    margin-top: 15px;
}

.clickable {
    cursor: pointer;
}

    .clickable:hover {
        background-color: #E7E7E8;
    }

.clicked {
    color: #808183;
    background-color: #808183;
}

.dataTables_wrapper {
    padding-top: 5px;
}

.rating-high, .rating-medium, .rating-low, .rating-other {
    text-align: center;
    color: white;
}

.rating-high {
    font-weight: bold;
    font-style: italic;
    background-color: #D2322D;
}

.rating-medium {
    background-color: #ED9C28;
}

.rating-low {
    background-color: #5CB85C;
}

.rating-other {
    background-color: #5BC0DE;
}
