﻿@model DDS.WebApp.PSQuoteGenerator.Models.ManualStepModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Manual Step</h2>

<h3>Are you sure you want to delete this step?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StepDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StepDescription)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.StepCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
