﻿@model DDS.WebApp.PSQuoteGenerator.Models.StepModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Step</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.StepNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StepNumber)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.StepDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StepDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectType1.ProjectType1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Technology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tech.TechnologyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineeringLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eng.EngineeringLevel)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
