﻿@model DDS.WebApp.PSQuoteGenerator.Models.StepModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Step</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StepNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StepNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StepDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StepDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tech.TechnologyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tech.TechnologyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eng.EngineeringLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eng.EngineeringLevel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
