﻿@model IEnumerable<DDS.WebApp.PSQuoteGenerator.Models.StepModel>

@{
    ViewBag.Title = "Index";
    var currentTech = System.Web.HttpContext.Current.Session["CurrentTechnologyId"] is int ? (int)System.Web.HttpContext.Current.Session["CurrentTechnologyId"] : 0;
    var currentTechName = System.Web.HttpContext.Current.Session["CurrentTechnologyName"] as String;
    var currentProjTypeName = System.Web.HttpContext.Current.Session["currentProjTypeString"] as String;
    var currentProjType = System.Web.HttpContext.Current.Session["CurrentProjectType"] is int ? (int)System.Web.HttpContext.Current.Session["CurrentProjectType"] : 0;
}
<script src="~/Scripts/jquery-ui.js"></script>

<script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />

<script src="~/Scripts/jquery.dataTables.rowReordering.js"></script>

<h2>Steps for @currentTechName - @currentProjTypeName</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    <table id="myDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StepNumber)
                </th>
                <th class="nosort">
                    @Html.DisplayNameFor(model => model.StepDescription)
                </th>
                <th class="nosort">
                    @Html.DisplayNameFor(model => model.Hours)
                </th>
                <th class="nosort">
                    @Html.DisplayNameFor(model => model.ProjectType)
                </th>
                <th class="nosort">
                    @Html.DisplayNameFor(model => model.Technology)
                </th>
                <th class="nosort">
                    @Html.DisplayNameFor(model => model.EngineeringLevel)
                </th>
                <th class="nosort"></th>
            </tr>

        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                <tr id="@item.Id">
                    <td class="index sequence">
                        @Html.DisplayFor(modelItem => item.StepNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StepDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectType1.ProjectType1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tech.TechnologyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Eng.EngineeringLevel)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myDataTable').dataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        }).rowReordering({ sURL: "/Step/UpdateStepNumber", Tech: @currentTech, Type: '@currentProjType' });

    });
</script>
