﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dimension Data PS Quote Generator</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Scripts")
    <script src="~/Scripts/bootstrap-formhelpers.js"></script>
    <link href="~/Content/bootstrap-formhelpers.css" rel="stylesheet" />
    <meta name="description" content="Dimension Data PS Quote Generator" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PS Quote Generator", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-top: 0;">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Project Configuration<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                
                                <li>@Html.ActionLink("Client Configuration", "Index", "Client")</li>
                                <li>@Html.ActionLink("Engineer Configuration", "Index", "Engineer")</li>
                                <li>@Html.ActionLink("Manager Configuration", "Index", "Manager")</li>
                                <li>@Html.ActionLink("Manual Step Configuration", "Index", "ManualStep")</li>
                                <li>@Html.ActionLink("Preconfigured Step Configuration", "Setup", "Step")</li>
                                <li>@Html.ActionLink("PM Deliverable Configuration", "Index", "PMDeliverable")</li>
                                <li>@Html.ActionLink("Sundry Cost Configuration", "Index", "SundryCost")</li>
                                <li>@Html.ActionLink("Technology Configuration", "Index", "Technology")</li>
                                
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quote<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @*@if (User.IsInRole("Pre-Sale Engineer"))
                                {
                                    <li>@Html.ActionLink("Create New Quote", "Create", "Quote")</li>
                                }
                                @if (User.IsInRole("Manager"))
                                {
                                    <li>@Html.ActionLink("Find Quote", "Index", "Quote")</li>
                                }
                                <li>@Html.ActionLink("Task List", "Index", "Task")</li>*@
                                <li>@Html.ActionLink("Create Quote", "Create", "Quote")</li>
                                <li>@Html.ActionLink("View Quotes", "Index", "Quote")</li>
                            </ul>
                        </li>
                    }
                    @*@if (User.IsInRole("Manager"))
                    {
                    <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                    }*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderSection("featured", false)
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="row">
            <div class="col-md-9">
                <p>&copy; @DateTime.Now.Year  Dimension Data All Rights Reserved</p>
            </div>
            <div class="col-md-3 float-right">
                <img src="~/Content/images/logo.png" style="float: right;" />
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
