﻿@using System.Globalization
@using System.Threading
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    @*using (Html.BeginForm("ApplyCurrency", "Currency", FormMethod.Post, new { id = "currencyForm", @class = "navbar-left"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <div style="display: inline-flex">
                    <a href="#" class="dropdown">Currency </a> @Thread.CurrentThread.CurrentUICulture
                    <input type="hidden" value="@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()" name="CurrentController">
                    <input type="hidden" value="@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString()" name="CurrentView">
                    <div class="bfh-selectbox bfh-currencies" data-currency="@Thread.CurrentThread.CurrentUICulture" id="curSel" data-name="CultureCode" data-blank="false" onchange="ChangeCurrency()" data-flags="true" data-filter="false"></div>
                </div>
            </li>
        </ul>
    }*@
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

@*<script type="text/javascript">
    function ChangeCurrency() {
        $("#currencyForm").submit();
    }
</script>*@
