﻿@model System.Web.Mvc.HandleErrorInfo

@{
ViewBag.Title = "Uh oh, an error occurred!";
}

<h2>Error</h2>
@if (string.IsNullOrEmpty(ViewBag.Message))
{
    <h3 class="text-danger">An error occurred while processing your request.</h3>
}
else
{
    <h3 class="text-danger">@ViewBag.Message</h3>
}


@if (Model != null)
{
    <h3>@Model.Exception.GetType().Name</h3>
    @*<pre>
        @Model.Exception.ToString()
    </pre>*@
    <p>
        thrown in @Model.ControllerName @Model.ActionName
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
